.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.15rem;
}
.container-centread {
  position: relative;
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 126px);
  border: 0px solid blue;
}

.container-conteudo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 100%;
  width: 100%;*/
  border: 0px solid red;
  overflow: auto;
}

.container {
  border: 0px solid red;
  max-height: 100%;
  max-width: 100%;
}
.navbar-top {
  position: relative;
  top: -12px;
  height: 45px;
  border: 0px solid red;
}

.input-imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  border-radius: 6px;
}

.input-icon {
  position: relative;
}

.input-icon .icon {
  position: absolute;
  right: 46px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


