.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .15rem;
}
.container-centread  {
     position: relative; 
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: calc(100vh - 126px);
    border: 0px solid blue;
}

.container-conteudo { 
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
    border: 0px solid red;
    overflow:auto; 
}

.container {
    border: 0px solid red;
    max-height: 100%;
     max-width: 100%;
}
.navbar-top
{
    position: relative; 
    top: -12px; 
    height: 45px; 
    border: 0px solid red;
}
